<div class="container">
  <div class="row d-flex justify-content-center">
    <% if @member_keyword.nil? %>
      <h4><%= @members.count %>フォロワー</h4>
    <% else %>
      <h4>メンバー検索「<%= @member_keyword %>」: <%= @members.count %>件</h4>
    <% end %>
    <% if @member == current_member || request.path.include?("search") %>
      <div class="ml-3 d-flex">
        <%= render 'public/relationships/form', member_keyword: @member_keyword %>
      </div>
    <% end %>
  </div>
  <div class="col-7 mx-auto p-2 bg-white">
    <%= render 'index' , members: @members %>
  </div>
  <% if request.path.include?("search") %>
    <div class="mt-3 text-center">
      <%= link_to 'フォロワー一覧に戻る>', member_followers_path(current_member), class: "text-dark" %>
    </div>
  <% end %>
</div>