<div class="row mx-5 mb-3 center-block">
  <% photos.each do |photo| %>
    <div class="col-3 mb-1 text-center photo-image">
      <% if member_signed_in? %>
        <%= link_to photo_path(photo) do %>
          <%=image_tag photo.image, size: "170x170", style: "object-fit: cover;" %>
        <% end %>
      <% else %>
        <%= link_to admin_photo_path(photo) do %>
          <%=image_tag photo.image, size: "170x170", style: "object-fit: cover;" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate photos %>
</div>