<div>
  <div>
    <div class="mb-2 d-flex justify-content-center">
      <%= image_tag photo.image, size: "680x450", style: "object-fit: contain;" %>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to member_path(member), class: "text-dark text-decoration-none" do %>
        <%= image_tag member.get_profile_image, size: "50x50", class: "mr-3 member-icon" %>
        <%= member.nickname %>
      <% end %>
      <div class="ml-auto mr-2">
        <p>
          <span id="favorite_btn"><%= render 'public/favorites/btn', photo: photo %></span>
          <span id="comment_count" class="ml-3">
            <%= render 'public/photo_comments/comment_count', photo: photo %>
          </span>
          <span class="ml-3"><%= photo.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </p>
        <p class="d-flex align-items-center justify-content-end">
          撮影地:
          <% if @photo.address.empty? %>
            <span class="ml-1 px-2 py-1 text-white bg-secondary border" style="border-radius: 40px;">
              登録なし
            </span>
          <% else %>
            <%= link_to photo_maps_path(photo) do %>
              <span class="ml-1 px-2 py-1 text-white btn btn-primary border" style="border-radius: 40px;">
                <%= photo.address %>
              </span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="mx-1 pt-1 px-1 bg-white border" style="width: 47vw;">
    <p class="text-center" style="overflow-wrap: normal;"><%= photo.body %></p>
    <div class="row p-2 bg-light border">
      <div class="col-6">
        Tags:
        <% photo.tags.each do |tag| %>
          <%= link_to search_tag_path(tag_id: tag.id), class: "text-white btn btn-sm btn-primary", style: "border-radius: 40px;" do %>
            <%= tag.name %>
          <% end %>
        <% end %>
      </div>
      <div class="col-6">
        使用機材:
        <% photo.cameras.each do |camera| %>
          <%= camera.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>