<div class="container" style="height: 80vh;">
  <div class="row">
    <%= render 'public/photos/photo_info', photo: @photo, member: @member %>
    <div class="col-4">
      <div class="mb-1">
        <!-- 地名入力用のinput -->
        <input id="address" type="textbox" value="<%= @photo.address %>">
        <!-- buttonをクリックしたらcodeAddressを実行　-->
        <input type="button" value="表示" onclick="codeAddress()">
      </div>
      <!--地図を表示-->
      <div id='map' style="height: 50vh;">
      </div>
      <div class="mt-3 px-1 pb-3 bg-light">
        <p>同じ撮影地の投稿</p>
        <% if @another_photos.exists? %>
          <% @another_photos.each do |another_photo| %>
            <%= link_to photo_path(another_photo), class: "text-decoration-none" do %>
              <%= image_tag another_photo.image, size: "100x100", class: "mt-2 ml-2 photo-image", style: "object-fit: cover;" %>
            <% end %>
          <% end %>
        <% else %>
          <p class="text-center my-5">まだ投稿はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/
let map;
let geocoder;

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  const photoLatLng = {lat: <%= @photo.latitude %>, lng: <%= @photo.longitude %>};
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: photoLatLng
  });
  const marker = new google.maps.Marker({
    position: photoLatLng,
    map: map
  });

}


function codeAddress(){
  geocoder = new google.maps.Geocoder()

  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>
