<div class="carousel slide carousel-fade" data-ride="carousel" id="carousel" style="width: 100%;">
 <div class="carousel-inner">
    <div class="carousel-item carousel-image active">
      <%= image_tag 'image1.jpeg', style: 'width: 100%; height: 100vh; object-fit: cover;' %>
      <span class="top-logo"><img src="/assets/Photolio.png" style="width: 400px; height: 400px;"></img></span>
      <%= render 'top-link' %>
    </div>
    <div class="carousel-item carousel-image">
      <%= image_tag 'image2.jpeg', style: 'width: 100%; height: 100vh; object-fit: cover;' %>
      <span class="top-logo"><img src="/assets/Photolio (1).png" style="width: 400px; height: 400px;"></img></span>
      <%= render 'top-link' %>
    </div>
    <div class="carousel-item carousel-image">
      <%= image_tag 'image3.jpeg', style: 'width: 100%; height: 100vh; object-fit: cover;' %>
      <span class="top-logo"><img src="/assets/Photolio (2).png" style="width: 400px; height: 400px;"></img></span>
      <%= render 'top-link' %>
    </div>
    <div class="carousel-item carousel-image">
      <%= image_tag 'image4.jpeg', style: 'width: 100%; height: 100vh; object-fit: cover;' %>
      <span class="top-logo"><img src="/assets/Photolio (3).png" style="width: 400px; height: 400px;"></img></span>
      <%= render 'top-link' %>
    </div>
    <div class="carousel-item carousel-image">
      <%= image_tag 'image5.jpeg', style: 'width: 100%; height: 100vh; object-fit: cover;' %>
      <span class="top-logo"><img src="/assets/Photolio (4).png" style="width: 400px; height: 400px;"></img></span>
      <%= render 'top-link' %>
    </div>
  </div>
</div>

<style>
  $(".carousel").carousel({
    interval: 1000,
    /*マウスが乗ったら止める*/
    /*pause: "hover",*/
  })
</style>