<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<div id="top_photo" style="height: 500px;">
  <div id="theTarget">
    <div class="image1"><%= image_tag 'image1.jpeg', size: '500x300' %></div>
    <div class="image2"><%= image_tag 'image2.jpeg', size: '500x300' %></div>
    <div class="image3"><%= image_tag 'image3.jpeg', size: '500x300' %></div>
    <div class="image4"><%= image_tag 'image4.jpeg', size: '500x300' %></div>
    <div class="image5"><%= image_tag 'image5.jpeg', size: '500x300' %></div>
  </div>
</div>