<div class="my-3 d-flex justify-content-center align-items-center">
  <%= image_tag member.get_profile_image, size: "80x80", class: "member-icon" %>
  <h4 class="ml-5"><%= member.nickname %></h4>
</div>

<div class="mb-3 d-flex align-items-center justify-content-center bg-light rounded" style="height: 80px;">
  <% if member.introduction.blank? %>
    <% if member == current_member %>
  　  <p class="text-secondary">ステータスメッセージを入力しましょう</p>
    <% end %>
  <% else %>
    <p><%= member.introduction %></p>
  <% end %>
</div>

<table cellpadding="5" class="mx-auto mb-3 font-weight-bold">
  <tr>
    <td>展示数:<%= member.photos.count %></td>
    <% if member.email != "guest@example.com" %>
      <td>
        <%= link_to member_followings_path(member) do %>
          フォロー:<%= member.followings.count %>
        <% end %>
      </td>
      <td>
        <%= link_to member_followers_path(member) do %>
          フォロワー:<%= member.followers.count %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>

<div class="text-center my-5">
  <% if member.email != "guest@example.com" %>
    <% if member == current_member %>
      <%= link_to '編集', edit_member_path(member), class: "px-5 btn btn-secondary" %>
    <% else %>
      <% if current_member.following?(member) %>
        <%= link_to "フォロー中", member_relationships_path(member.id), method: :delete, class: "btn btn-outline-primary" %>
      <% else %>
        <%= link_to "フォローする", member_relationships_path(member.id), method: :post, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% else %>
    <p>
      メンバー登録をして</br>
      他のメンバーと交流しましょう！
    </p>
  <% end %>
</div>

<div>
  <p class="mb-2"><span class="p-1 bg-light text-dark rounded">お気に入りの1枚</span></p>
  <div class="text-center">
    <% unless member.best_photo_id.blank? %>
      <%= link_to photo_path(best_photo) do %>
        <%= image_tag best_photo.image, size: "200x200", style: "object-fit: contain" %>
      <% end %>
    <% else %>
      <p class="mt-5">撮影中…</p>
    <% end %>
  </div>
</div>