<div class="my-3 d-flex justify-content-center align-items-center">
  <%= image_tag member.get_profile_image, size: "80x80", class: "member-icon" %>
  <h4 class="ml-5"><%= member.nickname %></h4>
</div>
<div class="mb-3 d-flex align-items-center justify-content-center bg-light rounded" style="height: 80px;">
  <% if member.introduction.blank? %>
    <% if member == current_member %>
  　  <p class="text-secondary">ステータスメッセージを入力しましょう</p>
    <% end %>
  <% else %>
    <p class="text-break"><%= member.introduction %></p>
  <% end %>
</div>
<table cellpadding="5" class="mx-auto mb-3 font-weight-bold">
  <tr>
    <td>展示数:<%= member.photos.count %></td>
    <td>
      <%= link_to member_favorites_path(member), class: "text-dark" do %>
        いいね数:<%= member.favorites.count %>
      <% end %>
    </td>
  </tr>
  <tr id="follow_count">
      <%= render 'public/relationships/follow_count', member: member %>
  </tr>
</table>
<div class="text-center my-4">
  <% if member.email != "guest@example.com" %>
    <% if member == current_member %>
      <%= link_to edit_member_path(member), class: "px-5 btn btn-secondary" do %>
        <i class="fas fa-user-plus"></i>
      <% end %>
    <% else %>
      <div id="follow_btn">
        <%= render 'public/relationships/follow_btn', member: member %>
      </div>
    <% end %>
  <% else %>
    <p>
      メンバー登録をして</br>
      他のメンバーと交流しましょう！
    </p>
  <% end %>
</div>
<div>
  <p class="mb-2"><span class="p-1 bg-light text-dark rounded"><i class="fas fa-star text-warning"></i></i>お気に入りの1枚</span></p>
  <div class="text-center">
    <% unless best_photo.blank? %>
      <%= link_to photo_path(best_photo) do %>
        <%= image_tag best_photo.image, size: "200x200", class: "photo-image", style: "object-fit: contain" %>
      <% end %>
    <% else %>
      <p class="mt-5">撮影中…</p>
    <% end %>
  </div>
</div>