<div class="container">
  <h4 class="font-weight-bold text-center">情報編集</h4>
  <%= form_with model: @member do |f| %>
    <div class="row mt-5 mx-auto justify-content-center" style="width: 70%;">
      <%= render "layouts/errors", obj: @member %>
      <table class="table table-borderless table-sm">
        <tr>
          <td class="align-middle"><span>名前</span></td>
          <td class="align-middle">(姓)</td>
          <td><%= f.text_field :last_name, placeholder: "令和", class: "form-control" %></td>
          <td class="align-middle">(名)</td>
          <td class="align-middle"><%= f.text_field :first_name, placeholder: "道子", class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle"><span>ニックネーム</span></td>
          <td></td>
          <td><%= f.text_field :nickname, placeholder: "レイワ", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle"><span>メールアドレス</span></td>
          <td></td>
          <td><%= f.text_field :email, autocomplete: "email", placeholder: "sample@example.com", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle"><span>ステータスメッセージ</span></td>
          <td></td>
          <td colspan="3"><%= f.text_field :introduction, size: "55x20", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle">電話番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :phone_number, placeholder: "0000000000", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>
      </table>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <label class="col-4 mr-2">プロフィール画像</label>
        <%= f.file_field :profile_image, accept: "image/*", onchange: "previewImage(this);" %>
      </div>
      <div class="col-2 text-center">
        <%= image_tag @member.get_profile_image, size: "80x80", id: "preview", class: "member-icon" %>
      </div>
    </div>
    <div class="row my-3 d-flex justify-content-center">
      <div>
        <%= f.submit "更新", class: "btn btn-success mr-5 px-5" %>
      </div>
      <div>
        <%= link_to "退会する", member_unsubscribe_path(@member), class: "btn btn-outline-danger px-5" %>
      </div>
    </div>
  <% end %>
  <div class="ml-5">
    <%= link_to '< 戻る', member_path(@member), class: "btn btn-secondary" %>
  </div>
</div>

<%= render 'layouts/previewimage' %>