<div class="container">
  <h4>メンバー一覧</h4>
  <div class="d-flex justify-content-center">
    <table class="table col-8">
      <thead>
        <tr>
          <th style="width: 60px;"></th>
          <th>名前</th>
          <th>ニックネーム</th>
          <td>ステータス</td>
          <th style="width: 60px;">Link</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
              <%= image_tag member.get_profile_image, size: "50x50", class: "mr-3 member-icon" %>
            </td>
            <td><%= member.last_name %> <%=member.first_name %></td>
            <td><%= member.nickname %></td>
            <td>
              <% if member.is_deleted == false %>
                <span class="text-success font-weight-bold">
                  有効
                </span>
              <% else %>
                <span class="text-secondary">
                  退会
                </span>
              <% end %>
            </td>
            <td><%= link_to "Show>", admin_member_path(member) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @members %>
  </div>
</div>