<div class="container" style="height: 80vh;">
  <div class="row">

    <div class="col-4 bg-white" style="height: 80vh;">
      <%= render 'public/members/info', member: @member, best_photo: @best_photo %>
    </div>

    <div class="col-7 ml-5">
      <h3 class="ml-3">Favorite Photos</h3>
      <div class="ml-5" style="height: 62vh;">
        <div class="d-flex flex-wrap">
          <% @photos.each do |photo| %>
            <div class="mx-3 my-1">
              <%= link_to photo_path(photo) do %>
                <%= image_tag photo.image, size: "150x150", style: "object-fit: cover;" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <%= paginate @photos %>
      </div>

      <div class="row">
        <div class="col-6">
          <%= link_to '<My Photos', member_path(@member), class: "btn btn-secondary" %>
        </div>
        <div class="col-6 text-right">
          <%= link_to 'All Photos>', photos_path, class: "btn btn-secondary" %>
        </div>
      </div>

    </div>
  </div>
</div>