<div class="container">

  <h4><span class="py-2 px-4 bg-light">新規会員登録</span></h4>

  <div class="row mt-5">
    <%= form_with model: @member, url: member_registration_path do |f| %>
      <%#= render "layouts/errors", obj: @member %>
      <table class="table table-borderless table-sm">
        <tr>
          <td class="align-middle"><span>名前</span></td>
          <td class="align-middle">(性)</td>
          <td><%= f.text_field :last_name, placeholder: "令和", style: "border-radius: 8px;", class: "form-control" %></td>
          <td class="align-middle">(名)</td>
          <td class="align-middle"><%= f.text_field :first_name, placeholder: "道子", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>ニックネーム</span></td>
          <td class="align-middle">(セイ)</td>
          <td><%= f.text_field :nickname, placeholder: "レイワ", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>メールアドレス</span></td>
          <td></td>
          <td><%= f.text_field :email, autocomplete: "email", placeholder: "sample@example.com", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>Introduction</span></td>
          <td></td>
          <td colspan="3"><%= f.text_field :introduction, size: "55x20", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle">電話番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :phone_number, placeholder: "0000000000", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>パスワード(6文字以上)</span></td>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>パスワード(確認用)</span></td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>
        
        <tr>
          <td>プロフィール画像</td>
          <td><%= f.file_field :profile_image, accept: "image/*" %></td>
          <td>渾身の1枚</td>
          <td><%= f.file_field :best_image, accept: "image/*" %></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success btn-block" %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-3 bg-light mb-2">
      <h3 class="text-center">既に登録済みの方</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">
      <%= link_to "こちら", new_session_path(resource_name) %> からログインしてください。
    </div>
  </div>
</div>