<div class="container">

  <h4 class="text-center">新規メンバー登録</h4>
  <%= form_with model: @member, url: member_registration_path do |f| %>
    <div class="row mt-5 mx-auto justify-content-center" style="width: 70%;">
      <%= render "layouts/errors", obj: @member %>
      <table class="table table-borderless table-sm">
        <tr>
          <td class="align-middle">名前</td>
          <td class="align-middle"><%= f.label :last_name, class: "my-auto" %></td>
          <td class="align-middle"><%= f.text_field :last_name, placeholder: "令和", class: "form-control" %></td>
          <td class="align-middle"><%= f.label :first_name, class: "my-auto" %></td>
          <td class="align-middle"><%= f.text_field :first_name, placeholder: "道子", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><%= f.label :nickname, class: "my-auto" %></td>
          <td></td>
          <td><%= f.text_field :nickname, placeholder: "10文字まで", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><%= f.label :email, class: "my-auto" %></td>
          <td></td>
          <td><%= f.text_field :email, autocomplete: "email", placeholder: "sample@example.com", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><%= f.label :introduction, class: "my-auto" %></td>
          <td></td>
          <td colspan="3"><%= f.text_field :introduction, size: "55x20", style: "border-radius: 8px;", placeholder: "30文字まで", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><%= f.label :phone_number, class: "my-auto" %>(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :phone_number, placeholder: "0000000000", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>パスワード(6文字以上)</span></td>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="align-middle"><span>パスワード(確認用)</span></td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", style: "border-radius: 8px;", class: "form-control" %></td>
        </tr>
      </table>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <%= f.label :profile_image,class: "col-4 mr-2" %>
        <%= f.file_field :profile_image, accept: "image/*", onchange: "previewImage(this);" %>
      </div>
      <div class="col-2 text-center">
        <img id="preview" src="no_image.jpg" class="member-icon" style="width: 50px; height: 50px"></img>
      </div>
    </div>
    <div class="text-center my-3">
    <%= f.submit "新規登録", class: "btn btn-success px-5" %>
  </div>

    <% end %>

  <div class="text-right">
    <p>
      会員の方は<%= link_to "こちら", new_session_path(resource_name) %> からログインしてください。
    </p>
  </div>
</div>

<%= render 'layouts/previewimage' %>